<% layout('layout') -%>

  <div class="row-fluid  top-section">
    <div class="span5">
      <h1>tishadow</h1>
    </div>
    <div class="span6 offset1">
      <blockquote>
        <p>the complete toolset for rapid titanium app development</p>
        <small><cite title="Source Title">#reallyreallyfast</cite></small>
      </blockquote>
    </div>
  </div>
  <hr/>
  <div class="row-fluid  extra-padding">
    <div class="span4">
      <h3>titanium + alloy</h3>
      <p>supports rapid deployment and testing of traditional titanium projects and
      alloy projects using any titanium sdk version</p>
    </div> 
    <div class="span4">
      <h3>deploy</h3>
      <p>simultaneously <strong>live</strong> deploy and test across multiple <strong>real devices</strong> using
      <strong>any OS</strong> for development. #nomoresimulators</p>
    </div> 
    <div class="span4">
      <h3>test</h3>
      <p>with jasmine bdd baked in, speed up your test iterations and
      start auto-testing your native mobile applications</p>
    </div> 
  </div>
  <hr/>
  <p class="large-code">npm install -g tishadow</p>
  <hr/>
  <div class="row-fluid extra-padding">
    <div class="span4">
      <blockquote>
      <p>"I'm loving TiShadow, it's saving me so much time, great job." - still not convinced to use #TiShadow?</p>
      <small><cite title="Source Title">@iskugor</cite></small>
      </blockquote>
    </div> 
    <div class="span4">
      <blockquote>
      <p>If you're not using TiShadow in your Titanium projects, you
      might be wasting hours per week on builds. Love it.</p>
      <small><cite title="Source Title">@kevinwhinnery</cite></small>
      </blockquote>

    </div> 
    <div class="span4">
      <blockquote>
      <p>Continue to be amazed by #TiShadow.</p>
      <small><cite title="Source Title">@BenCoding</cite></small>
      </blockquote>
    </div> 
  </div>
